<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field do %>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  <% end %>
  
  <%= field do %>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  <% end %>
  
  <%= field do %>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  <% end %>
  
  <%= actions do %>
    <%= f.submit %> or <%= link_to("cancel", post.new_record? ? root_path : post_path(post)) %>
  <% end %>
  
<% end %>
