<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <%= render "blogit/posts/meta_tags", post: @post if @post %>
  
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content">
    
    <h1><%= link_to("My Awesome Blog", main_app.root_path) %></h1>
    
    <main id="main_content">
      <%= yield %>      
    </main>
    
    <aside id="side_content">
      <h3>Archive</h3>
      <%= blog_posts_archive_tag('archive-year', 'archive-month', 'archive-post') do |post| %>
        <%= link_to(post.title, blogit.post_path(post)) %>
      <% end %>
    </aside>
  </div>



  <footer id="application_footer">
    <%= link_to("Blogit", "http://blogit.katanacode.com", target: "_blank") %> was
    created by your pals at 
    <%= link_to('Katana Code', "http://facebook.com/katanacode", target: "_blank") %>
     :o)
  </footer>
  <%= javascript_include_tag "application", "blogit" %>
</body>
</html>
