<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "blogit" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content">
    
    <h1><%= link_to("My Awesome Blog", main_app.root_path) %></h1>
    
    <main id="main_content">

      <%= yield %>      
    </main>
    
    <aside id="side_content">
      <%= blog_posts_archive_tag('archive-year', 'archive-month', 'archive-post') do |post| %>
        <%= link_to(post.title, blogit.post_path(post)) %>
      <% end %>
    </aside>
  </div>



  <footer id="application_footer">
    By <%= link_to("Katana Code", "http://katanacode.com") %>
  </footer>
  <%= javascript_include_tag "application", "blogit" %>
</body>
</html>
